<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route any request that is not already targeting public/ into public/
    RewriteCond %{REQUEST_URI} !^.*/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
